.aim-body {
  background-color: #121212;
}

.illustration {
  width: 70%;
  justify-content: center;
}

.aim-left {
  flex: 0.5;
}

.aim-right {
  flex: 0.7;
  text-align: left;
  padding: 2rem;
  font-size: 1.3rem;
}

.aim-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .aim-body {
    flex-direction: column;
  }
  .illustration {
    width: 70%;
  }
}
