.HeroSection {
  display: flex;
  min-height: 85vh;
  max-height: 1080px;
  align-items: center;
  font-size: 1.2rem;
}

@media screen and (max-width: 760px) {
  .HeroSection {
    flex-direction: column-reverse;
    padding: 0 !important;
    margin: auto 0 !important;
    width: 100%;
  }
  #hero-image {
    width: 90% !important;
    margin: auto !important;
  }
  .hero-header,
  .hero-text,
  .hero-button {
    padding: 1rem !important;
  }

  .hero-header {
    text-align: center !important;
    margin-bottom: 0 !important;
  }

  .hero-text {
    margin-bottom: 0 !important;
  }

  .hero-button {
    width: fit-content !important;
    margin: auto !important;
    padding: 5px 20px !important;
    margin-bottom: 10px !important;
  }
}
